{% load static %}
<!-- footer  -->
<footer class="footer bg-secondary py-5">
	<img src={% static "img/linux-opened-svgrepo-com.svg" %} alt="" class="penguin
	pengiun position-absolute" />
	<div class="container">
		<div class="row">
			<div class="col-md-4 my3">
				<h6>Damaged Soul</h6>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
					voluptas beatae modi fuga!
				</p>
			</div>
			<div class="col-md-4 my-3">
				<h6>Weirdoes in my Drive-way</h6>
				<ul class="list-unstyled">
					<li>
						Important: <a href="#">Terms & Conditions</a>,
						<a href="#">Timmy-Land</a>
					</li>
					<li>
						Situational: <a href="#"> DP+Three Kicks</a>,
						<a href="#"> Danny's Got No Super</a>,
						<a href="#"> Clown World, Honk Honk</a>
					</li>
					<li>
						Straight Up Fraudulent:
						<a href="#"> He is a Dead-Beat Daddy</a>,
						<a href="#">Spends all his Money on Styling Product</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 my-3">
				<div class="mb-4">
					<a href="#" class="text-decoration-none">
						<i class="fab fa-facebook fa-3x text-light mx-2"></i>
					</a>
					<a href="#" class="text-decoration-none">
						<i class="fab fa-twitter fa-3x text-light mx-2"></i>
					</a>
					<a href="#" class="text-decoration-none">
						<i class="fab fa-instagram fa-3x text-light mx-2"></i>
					</a>
					<a href="#" class="text-decoration-none">
						<i class="fab fa-alipay fa-3x text-light mx-2"></i>
					</a>
				</div>
				<p>Please do not contact us, we're not here to work</p>
				<a href="#">
					<strong
						>Anything sent through the mailing address will be forwarded to
						scammers.com</strong
					></a
				>
			</div>
		</div>
	</div>
</footer>
