{% extends 'base.html' %} {% block content %} {% load static %}

</section>
<header class="header position-relative">
	<!-- <img
				src="img/vertical-decoration-left.svg"
				alt=""
				class="vertical-decoration position-absolute d-none d-md-block" /> -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 pt-5">
				<h1 class="xl-text mt-5">
					Article Pages
					<span class="text-primary fw-bold replace-me"
						>Student News, Events, Career Opportunities</span
					>
				</h1>
				<p>
					<strong>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ipsam
						sint? Corrupti nesciunt, natus aut aperiam praesentium perspiciatis,
						consequuntur sunt quisquam deserunt beatae est officiis
						dolor?</strong
					>
				</p>
			</div>
			<div class="col-md-6 pt-5">
				<h1>Search Bar</h1>
				<form>
					<div class="mb-3">
						<input
							type="text"
							class="form-control fw-bold bg-secondary text-dark"
							placeholder="Title" />
					</div>
					<div class="mb-3">
						<input
							type="text"
							class="form-control fw-bold bg-secondary text-dark"
							placeholder="Author" />
					</div>
					<div class="mb-3">
						<input
							type="text"
							class="form-control fw-bold bg-secondary text-dark"
							placeholder="Key Word" />
					</div>
					<div class="mb-3">
						<select
							name="interest"
							id="interest"
							class="form-select text-white bg-danger">
							<option>Departments</option>
							<option value="">Python</option>
							<option value="">Electrician</option>
							<option value="">Pony Tamer</option>
							<option value="">Dollarama Employee</option>
						</select>
					</div>

					<div class="d-grid gap-2">
						<input
							type="submit"
							value="Submit"
							class="btn btn-primary rounded-2 text-dark" />
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<!-- breadcrumbs  -->
<section class="my-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>

				<li class="breadcrumb-item active" aria-current="page">Articles</li>
			</ol>
		</nav>
	</div>
<section>
	<div class="container my-4 p-3 bg-secondary">
		<div class="row">
			<div class="col-md-9">
				<header>
					<h2 class="strong">Times are Changing for the Better??</h2>
				</header>
				<hr class="hr-heading bg-warning" />
				<p><small>Date Time 2024</small></p>
				<footer class="blockquote-footer">Author - name</footer>
				<hr />
				<div class="card" style="width: fluid">
					<img src="../img/capy.jpg" class="card-img-top" alt="..." />
					<div class="card-body bg-dark">
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>
				<div class="card" style="width: fluid">
					<p class="lead indent-paragraph">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						Accusantium, ducimus cumque sint ex quidem deserunt facilis dolores
						atque eum dicta magnam dignissimos, eaque cupiditate veritatis
						ipsam, natus nam vero nihil iusto fuga! Sit praesentium ullam
						corrupti velit ab,
					</p>
					<p class="indent-paragraph">
						unde placeat aliquid et architecto quod laborum aut consequatur
						doloremque iure sint a expedita impedit omnis autem. Architecto sit
						sed neque eligendi! Libero veniam amet quod, est, dolores explicabo
						voluptatibus at soluta quo earum modi dolorem tenetur nemo expedita.
						Quibusdam, sint. Soluta magnam maxime labore eveniet impedit quod,
						sapiente mollitia magni! Doloremque at ab quod rerum libero
						consectetur, ea quis voluptate veritatis aperiam nulla distinctio
						velit, enim aut nesciunt illum adipisci ipsam, eaque ad officia
						deleniti. Doloremque, sint eaque, id cumque dolorem praesentium
						cupiditate ab, fugit nobis ratione incidunt reprehenderit dolores
						mollitia vitae maxime expedita sequi labore hic a. Quod eligendi
						dolorem reprehenderit nemo expedita deleniti quibusdam quas
						consequuntur, est odit quae qui repellendus suscipit ipsum maiores
						mollitia voluptatum fugiat temporibus eveniet explicabo. Cupiditate
						tempora maiores modi eaque hic, voluptatibus obcaecati voluptatem
						quis eum quos atque debitis repellendus facere nobis beatae
						similique libero officia illo ipsam voluptate nihil sit. Ducimus
						possimus dolorem, modi nisi, aperiam quae porro, voluptatum fuga
						illo deleniti incidunt a molestias suscipit culpa ad repellendus
						expedita! Minus nesciunt eveniet est dolore earum doloribus porro
						voluptatem, commodi culpa! Consectetur magnam molestias repudiandae
						earum. Quibusdam fuga voluptatem dolorem nesciunt, sunt blanditiis!
					</p>
					<!-- blockquote  -->
					<div class="card">
						<img
							src="../img/Autism.jpg"
							alt=""
							class="card-img-top article-card" />
						<div class="bg-dark card-body">
							<figure class="text-center">
								<blockquote class="blockquote">
									<p>A well-known quote, contained in a blockquote element.</p>
								</blockquote>
								<figcaption class="blockquote-footer">
									Someone famous in
									<cite title="Source Title">Source Title</cite>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- Additional Paragraphs -->
					<p class="indent-paragraph">
						Another paragraph of text goes here. Lorem ipsum dolor sit amet,
						consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua.
					</p>
					<p>
						Yet another paragraph of text. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</p>
					<!-- Outro Text -->
					<p class="indent-paragraph text-muted">
						This is the outro text. Thank you for reading!
					</p>
					<hr />
					<!-- commet submit  -->
					<div class="row g-2">
						<div class="col-md-2 py-4">
							<div class="card">
								<img src="../img/capy.jpg" alt="" class="rounded-circle" />
							</div>
						</div>
						<div class="col-md-10">
							<label for="exampleFormControlTextarea1" class="form-label"
								>Comment</label
							>
							<textarea
								class="form-control"
								id="exampleFormControlTextarea1"
								rows="3"></textarea>
							<div
								class="d-grid gap-2 d-md-flex justify-content-md-end my-3 me-2">
								<button type="button" class="btn btn-primary rounded-1">
									Submit
								</button>
							</div>
						</div>
					</div>

					<!-- user comments  -->
					<div class="row g-2">
						<div class="col-md-2">
							<div class="card">
								<img src="../img/capy.jpg" alt="" class="rounded-circle" />
							</div>
						</div>
						<div class="col-md-10">
							<div class="card">
								<div class="card-body">
									<div class="d-flex p-2">
										<div class="">
											<h4>Username</h4>

											<p><small>Time Since</small></p>
										</div>
										<div class="ms-auto">
											<i class="fas fa-flag fa-2x text-danger"></i>
										</div>
									</div>

									<hr />
									<p class="lead">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Reprehenderit odio facilis delectus.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- side articles -->
			<div class="col-md-3 my-3">
				<div class="row">
					<div class="card bg-secondary h-100">
						<img src="../img/Mit-Lab.jpg" class="card-img-top" alt="" />
						<div class="card-body bg-light text-dark">
							<h5 class="card-title fw-bold">Mew mew</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
								ex voluptate ullam?
							</p>
							<p class="card-text">
								<small class="text-body-darks">Last updated 3 mins ago</small>
							</p>
						</div>
						<br />
					</div>
					<div class="card bg-secondary h-100">
						<div class="card-body my-4 bg-light text-dark">
							<h5 class="card-title fw-bold">Mew mew</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
								ex voluptate ullam?
							</p>
							<p class="card-text">
								<small class="text-body-dark">Last updated 3 mins ago</small>
							</p>
						</div>
					</div>
					<div class="card bg-secondary h-100">
						<div class="card-body my-4 bg-light text-dark">
							<h5 class="card-title fw-bold">Mew mew</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
								ex voluptate ullam?
							</p>
							<p class="card-text">
								<small class="text-body-secondary"
									>Last updated 3 mins ago</small
								>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
