{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href={% static "css/styles.css" %} /> <link
		rel="stylesheet" href={% static "css/bootstrap.css" %} /> <link
		rel="stylesheet" href={% static "css/fontawesome.css" %} />
		<title>Sassy</title>
	</head>
	<body>
        {% include 'partials/_navbar.html' %}
		{% block content %} {% endblock %}
		{% include 'partials/_footer.html' %}
		<button class="to-top-btn" id="to-top">
			<img src={% static "img/up-arrow.png" %} alt="" />
		</button>
		<script src={% static "js/replaceme.min.js%" }></script>
		<script src={% static "js/bootstrap.bundle.min.js" %}></script>
		<script src={% static "js/script.js" %}></script>
        
	</body>
</html>
